<h1>Pipes</h1>

<!--<p>LowerCasePipe: {{'HOLA MUNDO' | lowercase}}</p>-->
<!--<p>UpperCasePipe: {{'hola mundo' | uppercase}}</p>-->
<!--<p>TitleCasePipe: {{'hola mundo' | titlecase}}</p>-->
<!--<p>JsonPipe: {{{name: 'David', age: 33} | json}}</p>-->
<!--<p>CurrencyPipe por defecto: {{ 1.39 | currency}}</p>-->
<!--<p>CurrencyPipe con Euro: {{ 1.39 | currency: 'EUR'}}</p>-->
<!--<p>DatePipe por defecto: {{'2022-03-14' | date}}</p>-->
<!--<p>DatePipe con fecha en formato dd/MM/yyyy: {{'2022-03-14' | date: 'dd/MM/YYYY'}}</p>-->

<!--<h2>Custom Pipe</h2>-->
<!--<p>Capitalize: {{'buenos días, ¿Cómo estáis?' | capitalize}}</p>-->
