.form-container{
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  margin-bottom: 20px;
  max-width: 500px;
}
.full-width{
  grid-column-start: 1;
  grid-column-end: 3;
}
.form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
.example-margin {
  margin: 0 12px;
}
